<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN"
"http://www.apple.com/DTDs/PropertyList-1.0.dtd" >
<plist version='1.0'>
<dict>
<key>Label</key><string>org.ludin.stalwart</string>
<key>ProgramArguments</key>
<array>
  <string>STALWART_TARGET</string>
  <string>--config=STALWART_CONFIG</string>
</array>
<key>StartInterval</key><integer>7200</integer>
<key>RunAtLoad</key><true/>
<key>StandardErrorPath</key><string>/tmp/stalwart.err</string>
<key>StandardOutPath</key><string>/tmp/stalwart.out</string>
<key>Disabled</key><false/>
<key>KeepAlive</key><false/>
</dict>
</plist>
