{
    "files":   [ STALWART_FILES ],
    "exclude": [ STALWART_EXCLUDES ],
    "host": {
        "hostname":    "STALWART_HOST",
        "key":         "STALWART_KEY",
        "user":        "STALWART_USER",
        "destination": "STALWART_DEST",
        "port":        "STALWART_PORT"
    }
}

